.app {
    text-align: center;
    height: 100%;
}

.app-header {
    height: 10%;
}

#projectsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 250px;
    height: 90%;
}

.card-wrapper {
    margin: 1rem;
}

img {
    max-width: 40%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-width: 150px;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    flex: 1 1;
}

.typography {
    font-family: fantasy;
}

p.typography {
    font-size: smaller;
}

.add {
    border-style: dotted;
    border-width: 2px;
}